{% extends 'baseapp/base.html' %}
{% block content %}
<div class="container">
    {% if Category%}
     <div class="my-3 fixed">    <h2 class="m-0">{{ Category }}</h2></div>
     <div><div style="   margin-left: .1rem;
        height: .2rem;
        width: 100%;
        background-color: black;
        margin-top: 10px;"></div>

     </div>
    <div class="row my-5">
        {% for book in data %}
            {% cycle '' '' '' '</div><div class="row">' as cycle_row silent %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 py-2 card-col">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="card shadow-lg book-item h-100">
                            <div class="img-div">
                                <img src="{{ book.image.url }}" class="card-img-top fixed-image object-fit py-1 px-1 " alt="..." />
                                {% if book.id in booked_book %}
                            <span class="sold-out">Sold out<span>
                                {% endif%}
                            </div>
                            <div class="card-body text-center my-1 py-0">
                                <span class="category px-4 py-0">{{ book.category }}</span>
                                <p class="fw-bold my-0 py-1">{{ book.title }}</p>
                               <p style="color:red;"> Rs.<span class="my-0 py-0">{{ book.selling_price }}</span> &nbsp;<span class="my-1" style="text-decoration-line: line-through; color:gray;">{{ book.original_price }} </span></p>
                                 <span>
                                    <i class="fa-sharp fa-solid fa-location-dot px-2 py-0"></i>{{book.location}}
                                 </span>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
        {% endif %}
        
    </div>
</div>
{% endblock content %}