{% extends 'baseapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/reset_password/password_reset_complete.css'  %}">
{% endblock %}

{% block content  %}

<section class="password-reset-complete">
    <div class="container">
        <h1 class="text-center mb-5">Password reset is successfully done  </h1>
        <a href="{% url 'login' %}" class="btn btn-outline-dark bg-success my-2 d-block mx-auto log-in-check ">Login to Check</a>
        
    </div>
</section>

{% endblock %}
