{% extends 'baseapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/reset_password/reset_password.css' %}">
{% endblock %}

{% block content %}
<section class="my-5,py-5 reset-password">
 
    <div class="container">
        <div class="row">
            <div class="card col-md-4 offset-md-4 border-2 border-dark shadow shadow-3 p-0">
                    <div class="card-header bg-primary m-0 p-0">
                        <div class="card-title text-center py-4">
                            <h3>Reset Your Password</h3>
                        </div>
                    </div>
            
                <!-- <hr> -->
                <div class="card-body my-4 ">
                    <form action="" method="POST">
                        {% csrf_token%}
                        {{form.as_p}}
                        <button type="submit" class="btn bg-info px-3 py-1 rounded-3 btn-outline-dark d-block mx-auto">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>


{% endblock content%}