{% extends 'baseapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/reset_password/password_reset_done.css'  %}">
{% endblock %}

{% block content  %}

<section class="password-reset-done">
    <div class="container">
        <h1 class="text-center text-info">Password Reset Done </h1>
        <p class="my-3 text-center text-success fw-bold"> The password reset link has sent to your gmail account please go and click the provided link !!!</p>
        
    </div>
</section>

{% endblock %}
