{% extends 'baseapp/base.html'  %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'userapp/css/reset_password/password_reset_confirm.css' %}"
{% endblock %}

{% block content %}
<section class="py-5 my-5 password-confirm">
    <div class="container">
        <div class="row">
            <div class="card col-md-4 offset-md-4 border border-2 border-dark shadow shadow-2 p-0">
                <div class="card-header bg-priary m-0 p-0  ">
                    <div class="card-title text-center my-4 ">
                        <h3>Fill this form accordingly</h3>
                    </div>
                </div>
                <card class="card-body my-4 ps-">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn bg-info px-3 py-1 rounded-3 btn-outline-dark d-block mx-auto">Reset</button>
                    </form>
                </card>
            </div>
        </div>
    </div>
</section>


{% endblock %}