{% extends 'baseapp/base.html' %}
{% block content%}

    <!-- About Us Code Goes Here -->
    <section class="hero">
        <div class="container">
            <div class="image-container px-3">
                <h1 class=" text-white py-2 text-center">KITABGHAR: <span class="title">A PERFECT MARKETPLACE FOR USED
                        BOOKS</span></h1>
                <p class="text-white text-center p-5"> "Step into a world of literary treasures, where the pages hold
                    memories and each book has a story to tell. Whether you're looking to sell your well-loved novels or
                    discover hidden gems from fellow readers, our used book buy and sell website is your gateway to a
                    vibrant community, where book enthusiasts come together to exchange literary wonders, fostering a
                    sustainable and enchanting realm of literary exploration."</p>
            </div>
        </div>
        <!-- Short Inroduction -->
        <section>
            <div class="about-row">
                <div class="col-lg-6 col-md-6 col-sm-12 intro ">
                    <p>
                        "Welcome to our used book marketplace, where stories find new homes and knowledge gets a
                        second
                        chance. Explore a vast collection of pre-owned books, connect with fellow book lovers, and
                        embark on a sustainable reading journey that celebrates the timeless joy of sharing stories
                        while giving new life to cherished literary companions."
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="image-wrapper">

                        <img src="https://c8.alamy.com/comp/2JXP3AH/stack-of-books-and-an-opened-book-on-top-isolated-on-white-2JXP3AH.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>

        <!-- Team section-->
        <section>
            <div class="container">
                <div class="row">
                    <h1>Meet Our Team</h1>
                    <div class="underline"></div>
                    <div class="team  col-lg-3 col-md-3 col-12 p-3">
                        <div class="wrapper  border border-2 py-3 rounded-4">
                            <div class="photo-contain bg-secondary">
                                <img src="static/Images/head.avif" alt="">
                            </div>
                            <p class="fw-bold">Prasanna Gautam</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, natus?</p>
                            <div class="social-links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team  col-lg-3 col-md-3 col-12 p-3 ">
                        <div class="wrapper  border border-2 py-3 rounded-4">
                            <div class="photo-contain bg-secondary">
                                <img src="static/Images/head.avif" alt="">
                            </div>
                            <p class="fw-bold">Himal Bhandari</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, natus?</p>
                            <div class="social-links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team  col-lg-3 col-md-3 col-12 p-3 ">
                        <div class="wrapper  border border-2 py-3 rounded-4">
                            <div class="photo-contain bg-secondary">
                                <img src="static/Images/head.avif" alt="">
                            </div>
                            <p class="fw-bold">Gaurav Subedi</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, natus?</p>
                            <div class="social-links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team  col-lg-3 col-md-3 col-12 p-3 ">
                        <div class="wrapper  border border-2 py-3 rounded-4">
                            <div class="photo-contain bg-secondary">
                                <img src="static/Images/head.avif" alt="">
                            </div>
                            <p class="fw-bold">Jaya Ram Gautam</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, natus?</p>
                            <div class="social-links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        {% endblock content %}
      





























        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>

</html>