<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KITABGHAR</title>

   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    /> 
    <!-- <link rel="stylesheet" href="{% static 'baseapp/css/bootstrap.min.css' %}" /> -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'baseapp/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'baseapp/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'baseapp/css/footer.css' %}" />
  </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'baseapp/css/about_us.css' %}" />
    {% block css %}
    {% endblock %}
    {% comment %} <link rel="stylesheet" href="{% static 'userapp/css/profile.css' %}" /> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" /> {% endcomment %}
   
    <!-- <link rel="stylesheet" href="{% static 'baseapp/css/crousel.css' %}" /> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
  <body>
    {% include "baseapp/header.html"%}
    {% block content %}{% endblock content %}
    {% include "baseapp/footer.html" %}
   <div id ="message-container">
   
</div>
  </body>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'bookinfo/js/leaflet.js'%}"></script>
    <script src="{% static 'bookinfo/js/leaflet.js'%}"></script>
    <script src="{% static 'baseapp/js/home.js'%}"></script>
    <script src="{% static 'baseapp/js/message.js'%}"></script>
    <!-- <script src="{% static 'baseapp/js/bootstrap.min.js'%}"></script> -->
    
       
        {% block javascript %}{% endblock javascript %}
</html>
    
        
     
